@font-face {
    font-family: 'Whisper';
    src: url(/fonts/Whisper.ttf);
}
@font-face {
    font-family: 'Shizuru';
    src: url(/fonts/Shizuru.ttf);
}
@font-face {
    font-family: 'Pacifico';
    src: url(/fonts/Pacifico.ttf);
}
@font-face {
    font-family: 'Silkscreen';
    src: url(/fonts/Silkscreen.ttf);
}

h1 {
    font-family: 'Shizuru', sans-serif;
}

/* Add your additional CSS rules below */
body {
    background-color: #f2f2f2;
    color: #333333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Add more styles as needed */



