@font-face {
    font-family: Whisper;
    src: url('Whisper.ttf');
}
    
@font-face {
    font-family: Shizuru;
    src: url('Shizuru.ttf');
}

@font-face {
    font-family: Silkscreen;
    src: url('Silkscreen.ttf');
}

@font-face {
    font-family: Pacifico;
    src: url('Pacifico.ttf');
}

h1 {
    font-family: Whisper
}