/*Fonts*/
    @font-face {
        font-family: 'Shizuru';
        src: url(/fonts/Shizuru.ttf);
    }

    @font-face {
        font-family: 'Whisper';
        src: url(/fonts/Whisper.ttf);
    }

    @font-face {
        font-family: 'Pacifico';
        src: url(/fonts/Pacifico.ttf);
    }

    @font-face {
        font-family: 'Silkscreen';
        src: url(/fonts/Silkscreen.ttf);
    }

/*Global Styles*/
    * {
        margin: 0;
        padding: 0;
        font-family: 'Shizuru', sans-serif;
        box-sizing: border-box;
    }

    body {
        color: #fff;
        background-image: url(/html/path/to/your/under_the_sea.jpg);
        background-size: cover;
    }
    html{
        scroll-behavior: smooth;
    }
/*Home*/
    #header {
        width: 100%;
        height: 100vh;
    }

    .container {
        padding: 10px 10%;
        
        
    }
    nav{
        display: flex;
        text-align: end;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .header{
        padding: 0 2.5%;
        width: 100%;
        text-align:right;
        margin-left: 600px;
        
    }
   
    p {
        font-family: 'Shizuru', sans-serif;
    }

    h1 {
        font-family: 'Shizuru', sans-serif;
        color: white;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-text {
        font-size: 100px;
        margin-top: 10%;
    }

    .header-text h1 {
        font-size: 85px;
        margin-bottom: 500px;
    }
    

    nav ul li {
        list-style: none;
        display: inline-block;
        margin: 5px 18px;
    }

    nav ul li a {
        color: grey;
        text-decoration: none;
        font-size: 35px;
        position: relative;
        
        
    }

    nav ul li a::after {
        content: '';
        width: 0;
        height: 3px;
        background: blue;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.3s;
    }

    nav ul li a:hover::after {
        width: 100%;
    }

/*About*/
#about {
    color: #ababab;
    padding: 80px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
    font-size: 25px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: yellowgreen;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 5px 0;
    font-family: 'Shizuru', sans-serif;
}
.tab-contents ul li span{
    color: yellowgreen;
    font-size: 30px;
    font-family: 'Shizuru', sans-serif;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*Portfolio*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 20px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Shizuru', sans-serif;
}
.work:hover img{
    transform: scale(1.2)
}
.work:hover .layer{
    height: 100%;
}
.button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid yellowgreen;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.button:hover{
    background: yellowgreen;
}
/*Services*/
#services{
    padding: 30px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.service-list div{
    background-color: #333;
    padding: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 300;
    transition: background 0.5s, tranform 0.5s;
}

.service-list div i{
    font-size: 50px;
    color: yellowgreen;
    margin-bottom: 30px;
}

.service-list div h2{
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}

.service-list div a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
.service-list div i{
    font-size: 50px;
    color: yellowgreen;
    margin-bottom: 30px;
}
.service-list div h2{
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}
.service-list div a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;

}
.service-list div:hover{
    background: blue;
    transform: translateY(-10px);
}
/*contact*/
.contact-left{
    flex-basis: 40%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 40px;
    font-size: 30px;
}
.contact-left p i{
    color: grey;
    margin-right: 10px;
    flex-wrap: wrap;
    padding: 4px;
}
.social-icons{
    margin-top: 25px;
    padding: 10px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:rgba(171, 171, 171, 0.595);
    transform: translateY(-5px);
}
.button2{
    background: transparent;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid yellowgreen;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.button2:hover{
    background: yellowgreen;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 15px;
}
form .button2{
    padding: 14px 30px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 5px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align:right;
    padding: 25px 50px;
    background: #333;
    font-weight: 300;
    margin-top: 20px;
}
